<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <script src="webjars/jquery/3.6.4/dist/jquery.js"></script>
    <script src="js/book/getBookClick.js"></script>
    <script src="js/book/getBookList.js"></script>
    <script src="js/book/bookTable.js"></script>
    <script src="js/book/editBook.js"></script>
    <script src="js/book/deleteBook.js"></script>
    <script src="js/book/saveBook.js"></script>
    <script src="js/author/authorSelect.js"></script>
    <script src="js/author/getAuthorList.js"></script>
    <script src="js/style/getStyleList.js"></script>
    <script src="js/style/styleSelect.js"></script>
</head>
<body>
    <button id="getBooks">Книги</button>
    <div id="root"></div>

</body>
</html>